<%= content_tag :div, 
  :rel => photo.id,
  :id => "admin-photo-#{photo.id}", 
  :style => "background-image:url('#{photo.photo.url(:spud_admin_small)}')",
  :class => "admin-photo-ui-thumb admin-photo-ui-thumb-small admin-photo" do %>
  <div style="display:none;">
    <%= hidden_field_tag 'spud_photo_album[photo_ids][]', photo.id %>
  </div>
  <div class="admin-photo-ui-thumb-controls">
    <%= link_to 'Edit', edit_admin_photo_path(photo), :class => 'admin-photos-btn-edit' %>
    <%= link_to 'Delete', '#', :class => 'admin-photos-btn-remove' %>
  </div>
<% end %>
