<% @page_title = 'Photo Galleries' %>

<% content_for :head do %>
  
<% end %>

<h2>Photo Galleries</h2>

<% cache(@photo_galleries) do %>
  <div class="photo-galleries">
    <% @photo_galleries.each do |gallery| %>
      <% cache(gallery) do %>
        <div class="photo-gallery-thumbnail">
          <h3><%= link_to gallery.title, photo_gallery_photo_albums_path(gallery.url_name) %></h3>
          <%= image_tag gallery.top_photo_url(:medium), :title => gallery.title %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
